# Version 0.1

# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# IDEA project-specific files
*.ipr
*.iws
*.iml

# IDEA
**/.idea/*
!**/.idea/codeStyles/
!**/.idea/dictionaries/
!**/.idea/runConfigurations/

# node
**/dist/
**/node_modules/
documents/_book/

# out
out/
