@import "commons";

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: $viewWidth;
  min-height: 320px;
}

.container {
  padding-top: 65px;
  min-height: calc(100vh - 65px);
}

.body {
  width: $viewWidth;
  padding: 0 $pageMargin;
  margin: 0 auto;
}

:global {
  span.ant-tag {
    border: none;
    padding: 6px 14px;
    font-size: 14px;
    color: #1D1919;
    svg {
      font-size: 19px;
      padding-left: 5px;
      padding-top: 6px;
    }
  }
}
